body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
  }

  main {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: -8px;
  } 

  header {
    display: flex;
    flex-direction: row;
    flex: auto;
    background-image: url("./images/banner.png");
    padding: 2% 5% 2% 5%;
    filter: grayscale(100%);
    position: absolute;
    left: -0.025%;
    right: -0.025%;
    top: 0%;
    bottom: -25%;
  }
  
  header .logo {
    flex: 2;
    z-index: 1;
  }
  
  header .navbar {
    flex: auto;
    font-weight:900;
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;

  }
  header .navbar a {
    margin-left: -30%;
    margin-right: -30%;
    text-decoration: none;
    color: white;
    
  }
  .header-section {
    position: relative;
    display: flex;
    flex: auto;
    flex-direction: column;
    margin-bottom: -2.6rem;
    background-blend-mode: color;
    background: rgba(0, 0, 0, 1);
    background: radial-gradient(
      85.9% 85.9% at 40% 14.1%,
      rgba(68, 76, 90, 0) 0%,
      #071629 100%
    );
    color: white;
    
    
  }
  .schooled {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
  }
  .schooled-title {
    font-weight: 700;
    font-size: 120px;
    text-align: center;
    color: #ffffff;
    position: relative;
  }
  
  .schooled-text {
    position: relative;
    margin-top: -7%;
    text-align: center;
    font-weight: 900;
    font-size: 16px;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    margin-left: 38%;
    margin-right: 38%;
  }
  .register-btn {
    background: #c271ff;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: 500;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    align-self: center;
    margin: 2rem;
    padding: 1rem;}

    .secondary-color {
        color: #c271ff;
      }
      .pros {
        padding: 2%;
        display: flex;
        flex-direction: column;
      }
      .pros-title {
        position: relative;
        align-self: center;
        padding: 2rem;
        font-weight: 300;
        line-height: 40px;
      }
      .pros-title .secondary-color {
        font-weight: 700;
      }
      .pros-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      .pros-card {
        width: 19%;
        margin-bottom: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .pros img {
        border-radius: 50%;
        max-width: 80%;
      }
      .pros-card h3 {
        font-weight: 900;
        font-size: 18px;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        text-align: center;
      }
      .pros-card p {
        font-style: italic;
        text-align: center;
        font-size: 16px;
      }
     
      .presenter-section {
        background-color: #c271ff;
        padding: 6%;
      }
      .presenter-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        padding-left: 9%;
        padding-right: 9%;
      }
      .presenter-block img {
        width: 160px;
        height: 160px;
        margin-right: 3rem;
      }
      .presenter-block blockquote {
        font-weight: 400;
        font-size: 22px;
        line-height: 34px;
        margin-left: 0;
        
      }
      .presenter-block .person-name {
        font-weight: 700;
        font-size: 22px;
        line-height: 34px;
        margin-bottom: 0;
        text-align: left;
      }
      .presenter-block .weather {
        font-style: italic;
        font-weight: 400;
        font-size: 22px;
        line-height: 34px;
        margin-top: 0;
        text-align: left;
      }

      .video-section{
        justify-content: center;
        align-self: center;
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        padding-bottom: 3rem;

      }  

      .play{
        position: relative;
        top: -23%;
        left: 33%;
      }

      .video-section h1{
        text-align: center;
        font-size: 40px;
        font-weight: 300;
        padding-top: 1rem;
        padding-bottom: 2rem;
       
      }

      .video-container{
        display: flex;
        flex-direction: row;
        justify-content:center;
        
     }

      .video{
        padding: 3rem;
        display: flex;
        flex-direction: column;
        max-width: 15%;
        text-align: left;
        padding-top: 0px;
      }
      
      .video h2, p{
        text-align: left;
        
      }
      .video h2{
        margin-top: -40px;
      }
      .video p{
        margin-top: -10px;
        text-align: left;
        opacity: 40%;

      }

      .author-picture{
        border-radius:100%;
      }
      .video-author{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 15px;
      }
      .video-author h3{
        font-size: medium;
        /* padding: auto; */
        margin: auto;
        margin-left: 15px;
      }

      .video-author img{
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }
      .rating-duration{
         display: flex;
         justify-content: space-between;
         align-items: center;
      }

      .duration{
        font-weight: 600;
        font-size: 14px;
         line-height: 27px;
         text-align: right;
        color: #c271ff;
       padding-top: 5%;

      }
      .membership-section {
        color: white;
        background: #071629;
        padding: 2rem;
      }
      .membership-section .secondary-color,
      .videos-section .secondary-color {
        font-weight: 700;
        font-size: 32px;
        text-align: center;
      }
      .membership-section h1 {
        font-weight: 300;
        font-size: 32px;
        text-align: center;
        padding-bottom: 2rem;
      }
      .membership-section button {
        left: 42%;      }
      .memberships {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 5rem;
        padding-right: 5rem;
      }
      .membership-card {
        display: flex;
        flex-direction: column;
        max-width: 15%;
        align-items: center;
        text-align: center;
      }
      .membership-card h2, p {
        margin-bottom: 0.1rem;
        text-align: center;
      }

      .faq-section{
        display: flex;
        flex-direction: column;
        flex: auto;
      }
      
      .faq-list {
        display: flex;
        padding-left: 10%;
        padding-right: 10%;
      }

      #faq-head{
        text-align: center;
        font-size: 50px;
        font-weight: 20;
        justify-content: space-evenly;
      }

      .faq-item {
        display: flex;
        flex: 50%;
        flex-direction: column;
        max-width: 35%;
        padding-left: 5%;
        padding-bottom: 5%;
        margin: auto;
        justify-content: space-evenly;
      }

      .faq-item p{
        font-weight: 400;
        opacity: 30%;
        line-height: 30px;
        text-align: left;
      }

      footer {
        background: rgb(2, 14, 27);
        padding: 1rem;
        margin: -8px;
      }
      .ft-container {
        display: flex;
        flex-direction: column;
      }
      .nav-ft {
        display: flex;
        justify-content: space-between;
        padding: 4rem 8rem 4rem 8rem;
      }
      
      .nav-ft div a {
        margin-left: 0.4rem;
        margin-right: 0.5rem;
      }
      
      .ft-container p {
        color: white;
        opacity: 0.35;
        text-align: center;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
      }